*{margin: 0;padding: 0;}
body{background-color: plum;height: 100vh;}
.phone{width: 600px;height: 990px;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);background: url(../img/Untitled-1.png) no-repeat;}
.content{width: 414px;height: 740px;background-color: #f00;position: absolute;top: 110px;left: 93px;}